<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>B2C</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/aboutUs.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel = "icon" href ="{{ url_for('static', filename='images/Head2.png') }}" type = "image/x-icon">
</head>
<body>
    
    <header class="navbar">

        <div class="logoAndLine">
            <div class="logo">
                <img src="{{ url_for('static', filename='images/logo2.png') }}" alt="B2C Logo">
            </div>
    
            <div class="line1">
                <img src="{{ url_for('static', filename='images/Line2.png') }}" alt="B2C Logo">
            </div>
        </div>

        <div class="burger-menu">
            <img class="burger-icon" src="{{ url_for('static', filename='images/Menu.svg') }}" alt="Burger Icon">
            <div class="burger-dropdown">
                <a href="{{ url_for('landing_page') }}">Home <img class="chevron-icon" src="{{ url_for('static', filename='images/chevron.svg') }}" alt="Chevron Icon"></a>
                <a href="{{ url_for('main_bp.appDev') }}">Application Development <img class="chevron-icon" src="{{ url_for('static', filename='images/chevron.svg') }}" alt="Chevron Icon"></a>
                <a href="{{ url_for('main_bp.IT') }}">IT Structures <img class="chevron-icon" src="{{ url_for('static', filename='images/chevron.svg') }}" alt="Chevron Icon"></a>
                <a href="{{ url_for('main_bp.sys') }}">System Integration <img class="chevron-icon" src="{{ url_for('static', filename='images/chevron.svg') }}" alt="Chevron Icon"></a>
                <a href="{{ url_for('main_bp.aboutUs') }}">About Us <img class="chevron-icon" src="{{ url_for('static', filename='images/chevron.svg') }}" alt="Chevron Icon"></a>
                <a href="{{ url_for('main_bp.contact') }}">Contact Us <img class="chevron-icon" src="{{ url_for('static', filename='images/chevron.svg') }}" alt="Chevron Icon"></a>
                <a href="{{ url_for('main_bp.careers') }}">Careers <img class="chevron-icon" src="{{ url_for('static', filename='images/chevron.svg') }}" alt="Chevron Icon"></a>
                <a href="{{ url_for('main_bp.login') }}">Login <img class="chevron-icon" src="{{ url_for('static', filename='images/chevron.svg') }}" alt="Chevron Icon"></a>
            </div>
        </div>
        
        <nav class="nav-menu">
            <ul>
                <li><a href="{{ url_for('landing_page') }}">Home</a></li>
                <li class="dropdown">
                    <a href="#">Services <img class="down-button" src="{{ url_for('static', filename='images/dropdown.svg') }}" alt="Dropdown Icon"></a>
                    <div class="dropdown-menu">
                        <a href="{{ url_for('main_bp.appDev') }}">Application Development <img class="chevron-icon" src="{{ url_for('static', filename='images/chevron.svg') }}" alt="Chevron Icon"></a>
                        <a href="{{ url_for('main_bp.IT') }}">IT Structures <img class="chevron-icon" src="{{ url_for('static', filename='images/chevron.svg') }}" alt="Chevron Icon"></a>
                        <a href="{{ url_for('main_bp.sys') }}">System Integration <img class="chevron-icon" src="{{ url_for('static', filename='images/chevron.svg') }}" alt="Chevron Icon"></a>
                    </div>
                </li>
                <li><a href="{{ url_for('main_bp.aboutUs') }}">About Us</a></li>
                <li><a href="{{ url_for('main_bp.contact') }}">Contact Us</a></li>
            </ul>
        </nav>

        <div class='right-buttons'>

            <div class="career-btn">
                <a href="{{ url_for('main_bp.careers') }}">Careers</a>
              </div>

            <div class="login-btn">
                <a href="{{ url_for('main_bp.login') }}">Login</a>
              </div>


        <div>
        
    </header>

    <div class="first-container">

        <div class="left-div">
            <div class="title1-1">
                <p>Batanai 2 Create</p>
            </div>
            <div class="paragraph1-1">
                <p>Our mission is to unleash the <br> world's untapped human <br> potential</p>
            </div>
            <div class="paragraph2-2">
                <p>Who we are, what we do, how we do it, and everything else <br> about us.</p>
            </div>

        </div>

        <div class="right-div">
            <img src="{{ url_for('static', filename='images/About Us.png') }}" alt="About Us SVG">
        </div>

    </div>

    <div class="second-container">

        <div class="row">
            <div class="question">
                <p class="q1">What is B2C?</p>
            </div>
            <div class="description">
                <p class="d1"> We are a software development company helping companies and individuals bring their ideas to life through software. Based in Harare,  
                Zimbabwe, we are extremely proud to be able to deliver an array of enterprise solutions that make a <br> difference. </p>
            </div>
        </div>

        <div class="row">
            <div class="question">
                <p class="q2">What does B2C do?</p>
            </div>

            <div class="description">
                <p class="d2">We offer Application Development , IT Infrastructure and System Integration.</p>
            </div>
        </div>

        <div class="row">
            <div class="question">
                <p class="q3">How does B2C work?</p>
            </div>

            <div class="description">
                <p class="d3">A customer can either contact us individually or submit through the website <br>
                what they want to be developed if they have a proof of concept.</p>
            </div>
        </div>

    </div>

    <div class="third-container1">
        <div class="title3-3">
            <p>B2C is trusted by companies across industries</p>
        </div>

        <div class="paragraph4-4">
            <p>Our customers come from diverse sectors like Banking, Finance, Healthcare, ITES, FMCG, Media and entertainment, and more. As an independent and privately owned company, our culture is far-removed from any short-term logic.<p>
                
            <p>We are about building solid long-lasting relationships across industries and have succeeded because of our relentless commitment to understating our clients’ needs.</p>
        </div>

        <div class="customers">
            <div class="customerIcon">
                <img src="{{ url_for('static', filename='images/Processor.svg') }}" alt="Processor SVG">
                <p>Technology</p>
            </div>

            <div class="customerIcon">
                <img class="p" src="{{ url_for('static', filename='images/Money Box.svg') }}" alt="Processor SVG">
                <p>Fintech</p>
            </div>

            <div class="customerIcon">
                <img class="h" src="{{ url_for('static', filename='images/Heart.svg') }}" alt="Processor SVG">
                <p>Health care</p>
            </div>

            <div class="customerIcon">
                <img class="e" src="{{ url_for('static', filename='images/Cash.svg') }}" alt="Processor SVG">
                <p>E-commerce</p>
            </div>
        </div>
       
    </div>


    <footer>
        <div class="footer-content">
            <div class="location">
                <p>Udugu Open House<br>42 Harvey Brown Milton Park Harare </p>
                <p>+263 242 250 602</p>

            </div>
            <div class="socials">
                <p>Join Us On Social Media </p>

                <div class="social-icons">
                    <img class="fb" src="{{ url_for('static', filename='images/Facebook.png') }}" alt="Facebook">
                    <img class="x" src="{{ url_for('static', filename='images/X.png') }}" alt="X">
                    <img class="wa" src="{{ url_for('static', filename='images/Whatsapp.png') }}" alt="Whatsapp">
                </div>
                
            </div>
        </div>
    </footer>

    

</body>
</html>
