<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>B2C</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flash.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel = "icon" href ="{{ url_for('static', filename='images/Head2.png') }}" type = "image/x-icon">
    <script src="{{ url_for('static', filename='JS/script.js') }}"></script>
</head>
<body>
    
    <header class="navbar5">

        <div class="logoAndLine">
            <div class="logo">
                <img src="{{ url_for('static', filename='images/logo2.png') }}" alt="B2C Logo">
            </div>
    
            <div class="line1">
                <img src="{{ url_for('static', filename='images/Line2.png') }}" alt="B2C Logo">
            </div>
        </div>

        <div class="burger-menu">
            <img class="burger-icon" src="{{ url_for('static', filename='images/Menu.svg') }}" alt="Burger Icon">
            <div class="burger-dropdown">
                <a href="{{ url_for('landing_page') }}">Home <img class="chevron-icon" src="{{ url_for('static', filename='images/chevron.svg') }}" alt="Chevron Icon"></a>
                <a href="{{ url_for('main_bp.appDev') }}">Application Development <img class="chevron-icon" src="{{ url_for('static', filename='images/chevron.svg') }}" alt="Chevron Icon"></a>
                <a href="{{ url_for('main_bp.IT') }}">IT Structures <img class="chevron-icon" src="{{ url_for('static', filename='images/chevron.svg') }}" alt="Chevron Icon"></a>
                <a href="{{ url_for('main_bp.sys') }}">System Integration <img class="chevron-icon" src="{{ url_for('static', filename='images/chevron.svg') }}" alt="Chevron Icon"></a>
                <a href="{{ url_for('main_bp.aboutUs') }}">About Us <img class="chevron-icon" src="{{ url_for('static', filename='images/chevron.svg') }}" alt="Chevron Icon"></a>
                <a href="{{ url_for('main_bp.contact') }}">Contact Us <img class="chevron-icon" src="{{ url_for('static', filename='images/chevron.svg') }}" alt="Chevron Icon"></a>
                <a href="{{ url_for('main_bp.careers') }}">Careers <img class="chevron-icon" src="{{ url_for('static', filename='images/chevron.svg') }}" alt="Chevron Icon"></a>
                <a href="{{ url_for('main_bp.signUp') }}">Sign Up<img class="chevron-icon" src="{{ url_for('static', filename='images/chevron.svg') }}" alt="Chevron Icon"></a>
            </div>
        </div>
        
        <nav class="nav-menu">
            <ul>
                <li><a href="{{ url_for('landing_page') }}">Home</a></li>
                <li class="dropdown">
                    <a href="#">Services <img class="down-button" src="{{ url_for('static', filename='images/dropdown.svg') }}" alt="Dropdown Icon"></a>
                    <div class="dropdown-menu">
                        <a href="{{ url_for('main_bp.appDev') }}">Application Development <img class="chevron-icon" src="{{ url_for('static', filename='images/chevron.svg') }}" alt="Chevron Icon"></a>
                        <a href="{{ url_for('main_bp.IT') }}">IT Structures <img class="chevron-icon" src="{{ url_for('static', filename='images/chevron.svg') }}" alt="Chevron Icon"></a>
                        <a href="{{ url_for('main_bp.sys') }}">System Integration <img class="chevron-icon" src="{{ url_for('static', filename='images/chevron.svg') }}" alt="Chevron Icon"></a>
                    </div>
                </li>
                <li><a href="{{ url_for('main_bp.aboutUs') }}">About Us</a></li>
                <li><a href="{{ url_for('main_bp.contact') }}">Contact Us</a></li>
            </ul>
        </nav>

        <div class='right-buttons'>

            <div class="career-btn">
                <a href="{{ url_for('main_bp.careers') }}">Careers</a>
              </div>

            <div class="login-btn">
                <a href="{{ url_for('main_bp.signUp') }}">Sign Up</a>
            </div>

        </div>
        
    </header>

    <div class="flash-container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div id="flash-container" class="flash-container">
                    {% for message in messages %}
                    <div class="flash-message info">{{ message }}</div>
             {% endfor %}
                </div>
            <script src="{{ url_for('static', filename='JS/flash.js') }}"></script>
            {% endif %}
        {% endwith %}
    </div>

    <div class="mainContainer">


        <div class="contactAndIcon1">

            <div class="left-div5">

                <div class="containerTitle">
                    <p>Log In</p>
                </div>
        
                <div class="contactDes">
                    <p>Let's get started !!</p>
                </div>

                <div class="form-container">
                    <form method="POST" action="{{ url_for('main_bp.login_post') }}" >
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="text" id="email" name="email" placeholder="Email" required>
                        </div>
                
                        <div class="form-group">
                            <label for="password">Password</label>
                            <div class="password-input-container">
                                <input type="password" id="password" name="password" placeholder="Password" required>
                                <span class="eye field-icon toggle-password" onclick="togglePasswordVisibility('password')">
                                    <img src="{{ url_for('static', filename='images/Eye.svg') }}" alt="Toggle Password Visibility">
                                </span>
                            </div>
                        </div>
                
                        <div class="form-group2">
                            
                            <button type="submit">LOGIN</button>

                            <div class="forgot">
                                <p><a href="{{ url_for('main_bp.reset_password_request') }}">Forgot your password?</a></p>
                            </div>
                        </div>

                        <div class="logToSign">
                            <p>Do you have an account? <a href="{{ url_for('main_bp.signUp') }}" >Create an account</p>
                        </div>


                    </form>
                </div>
            </div>
            
            <div class="right-div5">
                <img src="{{ url_for('static', filename='images/Login.svg') }}" alt="Contacts">
            </div>
        </div>

    </div>

    <footer>
        <div class="footer-content">
            <div class="location">
                <p>Udugu Open House<br>42 Harvey Brown Milton Park Harare </p>
                <p>+263 242 250 602</p>

            </div>
            <div class="socials">
                <p>Join Us On Social Media </p>

                <div class="social-icons">
                    <img class="fb" src="{{ url_for('static', filename='images/Facebook.png') }}" alt="Facebook">
                    <img class="x" src="{{ url_for('static', filename='images/X.png') }}" alt="X">
                    <img class="wa" src="{{ url_for('static', filename='images/Whatsapp.png') }}" alt="Whatsapp">
                </div>
                
            </div>
        </div>
    </footer>

    
    

</body>
</html>
