<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>B2C</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/updateCareers.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flash.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel = "icon" href ="{{ url_for('static', filename='images/Head2.png') }}" type = "image/x-icon">
    <!-- Include jQuery from a CDN (Content Delivery Network) -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="{{ url_for('static', filename='JS/updateCareerPage.js') }}"></script>
</head>
<body>
    
    <header class="navbar5">

        <div class="logoAndLine">
            <div class="logo">
                <img src="{{ url_for('static', filename='images/logo2.png') }}" alt="B2C Logo">
            </div>
    
            <div class="line1">
                <img src="{{ url_for('static', filename='images/Line2.png') }}" alt="B2C Logo">
            </div>
        </div>

        <div class="burger-menu">
            <img class="burger-icon" src="{{ url_for('static', filename='images/Menu.svg') }}" alt="Burger Icon">
            <div class="burger-dropdown">
                <a href="{{ url_for('landing_page') }}">Home <img class="chevron-icon" src="{{ url_for('static', filename='images/chevron.svg') }}" alt="Chevron Icon"></a>
                <a href="{{ url_for('main_bp.appDev') }}">Application Development <img class="chevron-icon" src="{{ url_for('static', filename='images/chevron.svg') }}" alt="Chevron Icon"></a>
                <a href="{{ url_for('main_bp.IT') }}">IT Structures <img class="chevron-icon" src="{{ url_for('static', filename='images/chevron.svg') }}" alt="Chevron Icon"></a>
                <a href="{{ url_for('main_bp.sys') }}">System Integration <img class="chevron-icon" src="{{ url_for('static', filename='images/chevron.svg') }}" alt="Chevron Icon"></a>
                <a href="{{ url_for('main_bp.aboutUs') }}">About Us <img class="chevron-icon" src="{{ url_for('static', filename='images/chevron.svg') }}" alt="Chevron Icon"></a>
                <a href="{{ url_for('main_bp.contact') }}">Contact Us <img class="chevron-icon" src="{{ url_for('static', filename='images/chevron.svg') }}" alt="Chevron Icon"></a>
                <a href="{{ url_for('main_bp.careers') }}">Careers <img class="chevron-icon" src="{{ url_for('static', filename='images/chevron.svg') }}" alt="Chevron Icon"></a>
                {% if current_user.is_authenticated %}
                <a href="{{ url_for('main_bp.logout') }}">Log Out<img class="chevron-icon" src="{{ url_for('static', filename='images/chevron.svg') }}" alt="Chevron Icon"></a>
                {% else %}
                <a href="{{ url_for('main_bp.login') }}">Login <img class="chevron-icon" src="{{ url_for('static', filename='images/chevron.svg') }}" alt="Chevron Icon"></a>
                {% endif %}
            </div>
        </div>
        
        <nav class="nav-menu">
            <ul>
                <li><a href="{{ url_for('landing_page') }}">Home</a></li>
                <li class="dropdown">
                    <a href="#">Services <img class="down-button" src="{{ url_for('static', filename='images/dropdown.svg') }}" alt="Dropdown Icon"></a>
                    <div class="dropdown-menu">
                        <a href="{{ url_for('main_bp.appDev') }}">Application Development <img class="chevron-icon" src="{{ url_for('static', filename='images/chevron.svg') }}" alt="Chevron Icon"></a>
                        <a href="{{ url_for('main_bp.IT') }}">IT Structures <img class="chevron-icon" src="{{ url_for('static', filename='images/chevron.svg') }}" alt="Chevron Icon"></a>
                        <a href="{{ url_for('main_bp.sys') }}">System Integration <img class="chevron-icon" src="{{ url_for('static', filename='images/chevron.svg') }}" alt="Chevron Icon"></a>
                    </div>
                </li>
                <li><a href="{{ url_for('main_bp.aboutUs') }}">About Us</a></li>
                <li><a href="{{ url_for('main_bp.contact') }}">Contact Us</a></li>
            </ul>
        </nav>

        {% if current_user.is_authenticated %}
        
        <div class='right-buttons'>
            <div class="career-btn">
                <a href="{{ url_for('main_bp.careers') }}">Careers</a>
              </div>
        
            <div class="login-btn">
                <a href="{{ url_for('main_bp.logout') }}">Log Out</a>
            </div>
        

        {% else %}
        <div class='right-buttons'>
            <div class="career-btn">
                <a href="{{ url_for('main_bp.careers') }}">Careers</a>
              </div>

            <div class="login-btn">
                <a href="{{ url_for('main_bp.login') }}">Login</a>
              </div>    
        <div>
        {% endif %}
        
    </header>

    <div class="flash-container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div id="flash-container" class="flash-container">
                    {% for message in messages %}
                    <div class="flash-message info">{{ message }}</div>
             {% endfor %}
                </div>
            <script src="{{ url_for('static', filename='JS/flash.js') }}"></script>
            {% endif %}
        {% endwith %}
    </div>

    <div class="mainContainer">


        <div class="contactAndIcon2">

            <div class="left-div5">

                <div class="containerTitle">
                    <p>Update Careers Board</p>
                </div>
        
                <div class="form-container">
                    <form method="POST" action="{{ url_for('main_bp.updateCareers') }}">
                        <div class="form-group">
                            <label for="title">Title:</label>
                            <input type="text" name="title" required>
                        </div>

                        <div class="form-group">
                            <label for="location">Location:</label>
                            <input type="text" name="location" required><br>
                        </div>
                
                        <div class="form-group9">
                            <p>Type:</p>

                            
                            <input type="radio" name="type" value="On-Site" id="rad1" required><label for="rad1" >On-Site</label>
                        
                            <input type="radio" name="type" value="Hybrid" id="rad2" required><label for="rad2">Hybrid</label>
                        
                            <input type="radio" name="type" value="Remote" id="rad3" required><label for="rad3">Remote</label> 
                        
                        </div>

                        <div class="form-group">
                            <label for="description">Description:</label>
                            <textarea name="description" rows="4" cols="50" required></textarea>
                        </div>
                
                        <div class="form-group2">
                            <button type="submit" value="Add Job">UPDATE</button>
                        </div>
                        
                    </form>
                </div>
            </div>

            
            
            <div class="right-div9">
                
                <div class="careerBox">

                    <div class="careerStatus">
                        <p>No careers Added</p>
                    </div>
            
                        <div id="careers-page">
                            {% for job in jobs %}
                                <div class="job-card" id="job-card-{{ job.id }}">
                                    <div class="cardTitle9">
                                        <p>{{ job.title }}</p>
                                    </div>
                                    
                                    <div class="descLine">
                                        <img src="{{ url_for('static', filename='images/Location.svg') }}" alt="Careers">
                                        <p>{{ job.type }} - {{ job.location }}</p>
                                    </div>

                                    <div class="delete-btn">
                                        <form method="POST" action="/delete_job/{{ job.id }}" class="delete-form">
                                            <input type="submit" value="DELETE">
                                        </form>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>

                </div>
            </div>
        </div>

    </div>

    <footer>
        <div class="footer-content">
            <div class="location">
                <p>Udugu Open House<br>42 Harvey Brown Milton Park Harare </p>
                <p>+263 242 250 602</p>

            </div>
            <div class="socials">
                <p>Join Us On Social Media </p>

                <div class="social-icons">
                    <img class="fb" src="{{ url_for('static', filename='images/Facebook.png') }}" alt="Facebook">
                    <img class="x" src="{{ url_for('static', filename='images/X.png') }}" alt="X">
                    <img class="wa" src="{{ url_for('static', filename='images/Whatsapp.png') }}" alt="Whatsapp">
                </div>
                
            </div>
        </div>
    </footer>

    

</body>
</html>
