<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>B2C</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/updateChallange.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/careers-box.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flash.css') }}">
    <link rel = "icon" href ="{{ url_for('static', filename='images/Head2.png') }}" type = "image/x-icon">
    <!-- Include Quill.js CSS -->
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">

    <!-- Include Quill.js -->
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="{{ url_for('static', filename='JS/update.js') }}"></script>
    <script src="{{ url_for('static', filename='JS/updateChallenge.js') }}"></script>
</head>
<body>
    
    <header class="navbar" id="myNavbar">

        <div class="logoAndLine">
            <div class="logo">
                <img src="{{ url_for('static', filename='images/logo1.png') }}" alt="B2C Logo">
            </div>
    
            <div class="line1">
                <img src="{{ url_for('static', filename='images/whiteLine.svg') }}" alt="B2C Logo">
            </div>
        </div>

        <div class="burger-menu">
            <img class="burger-icon" src="{{ url_for('static', filename='images/Menu.svg') }}" alt="Burger Icon">
            <div class="burger-dropdown">
                <a href="{{ url_for('landing_page') }}">Home <img class="chevron-icon" src="{{ url_for('static', filename='images/chevron.svg') }}" alt="Chevron Icon"></a>
                <a href="{{ url_for('main_bp.appDev') }}">Application Development <img class="chevron-icon" src="{{ url_for('static', filename='images/chevron.svg') }}" alt="Chevron Icon"></a>
                <a href="{{ url_for('main_bp.IT') }}">IT Structures <img class="chevron-icon" src="{{ url_for('static', filename='images/chevron.svg') }}" alt="Chevron Icon"></a>
                <a href="{{ url_for('main_bp.sys') }}">System Integration <img class="chevron-icon" src="{{ url_for('static', filename='images/chevron.svg') }}" alt="Chevron Icon"></a>
                <a href="{{ url_for('main_bp.aboutUs') }}">About Us <img class="chevron-icon" src="{{ url_for('static', filename='images/chevron.svg') }}" alt="Chevron Icon"></a>
                <a href="{{ url_for('main_bp.contact') }}">Contact Us <img class="chevron-icon" src="{{ url_for('static', filename='images/chevron.svg') }}" alt="Chevron Icon"></a>
                <a href="{{ url_for('main_bp.careers') }}">Careers <img class="chevron-icon" src="{{ url_for('static', filename='images/chevron.svg') }}" alt="Chevron Icon"></a>
                {% if current_user.is_authenticated %}
                <a href="{{ url_for('main_bp.contact_reports') }}">Contact Reports <img class="chevron-icon" src="{{ url_for('static', filename='images/chevron.svg') }}" alt="Chevron Icon"></a>
                <a href="{{ url_for('main_bp.logout') }}">Log Out<img class="chevron-icon" src="{{ url_for('static', filename='images/chevron.svg') }}" alt="Chevron Icon"></a>
                <a href="{{ url_for('main_bp.dashboard') }}">Dashboard<img class="chevron-icon" src="{{ url_for('static', filename='images/chevron.svg') }}" alt="Chevron Icon"></a>
                {% else %}
                <a href="{{ url_for('main_bp.login') }}">Login <img class="chevron-icon" src="{{ url_for('static', filename='images/chevron.svg') }}" alt="Chevron Icon"></a>
                {% endif %}
            </div>
        </div>
        
        <nav class="nav-menu">
            <ul>
                <li><a href="{{ url_for('landing_page') }}">Home</a></li>
                <li class="dropdown">
                    <a href="#">Services <img class="down-button" src="{{ url_for('static', filename='images/Down Button2.svg') }}" alt="Dropdown Icon"></a>
                    <div class="dropdown-menu">
                        <a href="{{ url_for('main_bp.appDev') }}">Application Development <img class="chevron-icon" src="{{ url_for('static', filename='images/chevron.svg') }}" alt="Chevron Icon"></a>
                        <a href="{{ url_for('main_bp.IT') }}">IT Structures <img class="chevron-icon" src="{{ url_for('static', filename='images/chevron.svg') }}" alt="Chevron Icon"></a>
                        <a href="{{ url_for('main_bp.sys') }}">System Integration <img class="chevron-icon" src="{{ url_for('static', filename='images/chevron.svg') }}" alt="Chevron Icon"></a>
                    </div>
                </li>
                <li><a href="{{ url_for('main_bp.contact_reports') }}">Contact Reports</a></li>
            </ul>
        </nav>

        {% if current_user.is_authenticated %}
        
        <div class='right-buttons'>
            <div class="career-btn">
                <a href="{{ url_for('main_bp.dashboard') }}">Dashboard</a>
              </div>
        
            <div class="login-btn">
                <a href="{{ url_for('main_bp.logout') }}">Log Out</a>
            </div>
        

        {% else %}
        <div class='right-buttons'>
            <div class="career-btn">
                <a href="{{ url_for('main_bp.careers') }}">Careers</a>
              </div>

            <div class="login-btn">
                <a href="{{ url_for('main_bp.login') }}">Login</a>
              </div>    
        <div>
        {% endif %}
        
    </header>

    <div class="flash-container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div id="flash-container" class="flash-container">
                    {% for message in messages %}
                    <div class="flash-message info">{{ message }}</div>
             {% endfor %}
                </div>
            <script src="{{ url_for('static', filename='JS/flash.js') }}"></script>
            {% endif %}
        {% endwith %}
    </div>



    <div class="challegeContainer">
        <div class="challengeTitle1">
            <p>Update Challange Board</p>
        </div>

        <div class="challangeStatus">
            <p>There are currently no challenges</p>
        </div>
        
        <div class="challengeCards">
    
            {% for request_obj in requests %}

            <div class="job-card">

                <div class="challanegeTitle">
                    <p>{{ request_obj.title }}</p>
                </div>

                <div class="challanegeDescription">
                    <p>{{ request_obj.description [:100] | safe }}...</p>
                </div>

                <div class="card-btn">
                    {% if request_obj.status == 'Accepted' %}
                        <button>Accepted</button>
                    {% endif %}
                    <a href="{{ url_for('main_bp.view_request', request_id=request_obj.id) }}">View Details</a>
                </div>

            </div>
                       
                    
            {% endfor %}


        </div>

    </div>


    


    <footer>
        <div class="footer-content">
            <div class="location">
                <p>Udugu Open House<br>42 Harvey Brown Milton Park Harare </p>
                <p>+263 242 250 602</p>

            </div>
            <div class="socials">
                <p>Join Us On Social Media </p>

                <div class="social-icons">
                    <img class="fb" src="{{ url_for('static', filename='images/Facebook.png') }}" alt="Facebook">
                    <img class="x" src="{{ url_for('static', filename='images/X.png') }}" alt="X">
                    <img class="wa" src="{{ url_for('static', filename='images/Whatsapp.png') }}" alt="Whatsapp">
                </div>
                
            </div>
        </div>
    </footer>

</body>
</html>
